body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}
div.fixed{
  position: fixed;
  left: 30px;
  top: 30px;
  background-color: rgba(0,0,0,0.5);
  padding: 30px;
}
